@using Dominio;

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        @ViewBag.Error
    </div>
}


<h1>Agregar Tipo de Gasto</h1>
<br />
<br />


<form method="post">
    <br />
    <br />
    <br />
    <br />
    Nombre
    <br />
    <input type="text" name="nombre" style="padding-left: 10px; width: 300px;" />
    <br />
    <br />
    Descripcion
    <br />
    <input type="text" name="descripcion" style="padding-left: 10px; width: 300px;" />
    <br />
    <br />
   

    <button type="submit" class="btn btn-primary">Guardar Tipo de Gasto</button>
</form>
